img  {
    width: 600px;
    height: 450px;
   }

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

span{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

ul{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

ol{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

div.container{
  width: 1000px;
  margin: 0 auto;
}

li{
  margin: 10px;
  font-family: 'Roboto', sans-serif;
}

li.bereiding{
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}