img  {
 width: 700px;
 height: 450px;
}
img.Soep {
  width: 765px;
  height: 405px;
}


body{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 26px;
}


h1{
  font-size: 36px;
  line-height: 36px;
}
h2{
  font-size: 24px;
  line-height: 32px;
}


span{
  font-size: 20px;
  padding: 10px;
}


div.container{
  width: 1000px;
  margin: 0 auto;
}


li{
  margin: 10px;
}
li.bereiding{
  margin: 20px;
}


.topnav {
  overflow: hidden;
  background-color: black;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(23, 24, 23);
  color: white;
}
.topnav a.active {
  background-color: rgb(10, 80, 10);
  color: white;
}


.vertical-menu {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}
.vertical-menu a {
  background-color: black;
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
}
.vertical-menu a:hover {
  background-color: rgb(23, 24, 23);
}
.vertical-menu a.active {
  background-color: rgb(10, 80, 10);
  color: white;
}

.tip{
  font-weight: bold;
}